@import '../variable.less';
.indexPage {
  padding-top: 180px;
  background: url(../../assets/bg.png) top center no-repeat;
  background-size: contain;
  background-repeat: no-repeat;

  .feat-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    margin-top: 126px;
    justify-content: flex-start;
    width: 1045px;
    margin-left: 50px;

    .feat-wrap {
      margin-bottom: 20px;
      width: 462px;
      height: 160px;
      border-radius: 16px;
      background-color: #fff;
      padding: 25px;
      margin-right: 20px;
      display: flex;

      img{
        margin-right: 20px;
      }

      .feat-right{
        h1 {
          font-size: 18px;
          margin-bottom: 5px;
        }
        p {
          font-size: 14px;
          margin-top: 15px;
          color: @light-color;
        }
      }
    }
  }
}

.slogan {
  text-align: center;
  padding: 0 280px;

  h1 {
    font-size: 26px;
    margin-bottom: 10px;
  }

  p {
    font-size: 16px;
    color: @light-color;
    line-height: 20px;
  }

  & > button {
    margin-top: 50px;
    border: 2px solid @brand-color!important;
    height: 54px;
    width: 220px;

    &:hover {
      background-color: @brand-color;
      color: white !important;
    }
  }
}

.partner {
  text-align: center;
  margin-top: 70px;
  h1 {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 20px;
  }
}
