@import '../variable.less';
.indexPage {
  padding-top: 200px;
  background: url(../../assets/bg.png) top center no-repeat;

  ul {
    list-style: none;
    display: flex;
    margin-top: 190px;
    justify-content: center;

    li {
      width: 330px;
      height: 250px;
      border-radius: 16px;
      background-color: fade(white, 90);
      text-align: center;
      padding-top: 22px;
      margin-left: 20px;

      h1 {
        font-size: 18px;
      }
      p {
        padding: 0 30px;
        margin-top: 15px;
        color: @light-color;
      }
    }
  }
}

.slogan {
  text-align: center;
  padding: 0 280px;

  h1 {
    font-size: 26px;
    margin-bottom: 10px;
  }

  p {
    font-size: 16px;
    color: @light-color;
    line-height: 20px;
  }

  & > button {
    margin-top: 50px;
    border: 2px solid @brand-color!important;
    height: 54px;
    width: 220px;

    &:hover {
      background-color: @brand-color;
      color: white !important;
    }
  }
}

.partner {
  text-align: center;
  margin-top: 70px;
  h1 {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 20px;
  }
}
