@brand-color: #496ce9;

@bg-color: #F3F6FD;

@font-color: #262833;
@light-color: #6B6D7C;
@border-color: #cbd5e1;
@line-color: #d9d9d9;
@block-color: #ecedef;

@disable-color: #d7dae9;
@warn-color: #e97207;
@error-color: #d21313;
